@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tools">
    Gw2 Tools cannot load, yet.
</div>

@section scripts {
<script type="text/javascript" src="~/Scripts/app/gw2Tools.jsx">
</script>
}