@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="tools">
        Gw2 Tools cannot load, yet.
    </div>
</div>
<div class="row">
    <div id="birthdays"></div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/app/gw2Tools.jsx">
    </script>
}
