<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ApiRootUrl" value="https://api.guildwars2.com"/>
      <add key="ApiVersion" value="v2"/>
    </appSettings>
</configuration>